.board-table{
  /* display: flex; */
  align-items: center;
}

.board-row{
  display: flex;
  align-items: center;
  min-height: 64px;
}

.board-square{
  min-width: 64px;
  min-height: 64px;
  margin: 5px;
}